*{
    font-family: Arial, Helvetica, sans-serif;
}

legend{
    color: rgb(88, 202, 255); font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.governador{
    text-align: left;
    color: rgb(255, 255, 255);
}

header{
    background-color: rgb(22, 33, 80);
    cursor: pointer; 
}

.bandeira{
    display: inline-block;
    float: none;
}

footer{

}

.menu{
    text-align: right;
}

.text {
    position: absolute;
    color: rgb(255, 190, 190);
}

body{
    color: aliceblue;
    background-color: #333131;
    text-align: center;
}

.namegov{
    color: aqua;
}

.creatorwebsite{
    text-align: left;
}

.governmentservice{
    color: aqua;
}

.governador img{

    border: 3px solid;
    display: inline-block;
    float: left;
    clear: none;
    width: 100px;         
    height: 100px;
    border-radius: 50%;   
    object-fit: cover;
    margin-right: 20px;
    
    border-color: rgb(147, 213, 230);
}

.govtext{
    padding: 20px;
    clear: both;
    display: block;
}

.aboutgov{
    line-height: 30px;
}

.barcity{

}

.marxbuttongit{

  background-color: #414447; 
  color: white;
  border: none;          
  
 
  padding: 12px 24px;     
  border-radius: 8px;       
  font-size: 16px;
  font-weight: 600;         
  
  cursor: pointer;         
  transition: all 0.3s;     
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.marxbuttongit:hover {
  background-color: #ffffff; 
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.marxbuttongit:active {
  transform: translateY(0); 
}
